.cell {
  border: 1px solid rebeccapurple;
  color: green;
  text-align: center;
  padding: 1%;
}

.conteiner {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "heder"
    "man"
    "foote";
  background: url(/assets/mountains.svg) no-repeat;
  background-size: contain;
  object-fit: cover;
  grid-template-rows: 35% 30% 35%;
}

.heder {
  grid-area: heder;
}

.man {
  grid-area: man;
}
.foote {
  grid-area: foote;
}

.hed {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "logo nav button_call_me"
    " . . ."
    "pic1 . pic3"
    " . pic2 .";
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 10% 23% 45% 5%;
  gap: 1%;
}

.logo {
  grid-area: logo;
  background: no-repeat;

  place-self: center;
  object-fit: cover;
}
.heder > .hed > .logo > img {
  max-width: 20%;
}

.nav {
  grid-area: nav;
}
.nav {
  display: grid;
  grid-template-columns: 15% 20% 15% 20% 12% 15%;
  grid-template-rows: 1fr;
  place-items: center;
}

.nav > .home {
  grid-area: 1 / 1;
}
.nav > .lux {
  grid-area: 1 / 2;
}
.nav > .book {
  grid-area: 1 / 3;
}
.nav > .why {
  grid-area: 1 / 4;
}

.nav > .con {
  grid-area: 1 / 5;
}

.nav > .cl {
  grid-area: 1 / 6;
}

.button_call_me {
  grid-area: button_call_me;
  background: no-repeat;
  place-self: center;
  object-fit: cover;
}

.heder > .hed > .button_call_me > img {
  max-width: 100%;
}

@media screen and (min-width: 1000px) {
  .pic2 {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .button_call_me,
  .nav,
  .pic1,
  .pic2,
  .pic3,
  .pin_4,
  .group_521,
  .button_call_me2,
  .provide,
  .luxtrips {
    display: none;
  }
}

.pic1 {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  justify-self: flex-start;
  background: no-repeat;

  margin-left: -4em;
  margin-top: -1em;
  object-fit: contain;
}

.heder > .hed > .pic1 > img {
  max-width: 100%;
}
.heder > .hed > .pic2 > img {
  max-width: 100%;
}
.heder > .hed > .pic3 > img {
  max-width: 100%;
}

.pic2 {
  grid-area: pic2;
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  justify-self: flex-start;
  background: no-repeat;
  object-fit: contain;
  margin-left: 15em;
  margin-top: 20em;
}
.pic3 {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  justify-self: flex-end;
  background: no-repeat;

  margin-top: 0.5em;

  object-fit: contain;
}

.home {
  grid-column: 1;
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.125em;

  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #000000;
}

.lux {
  grid-column: 2;
}

.cbook {
  grid-column: 3;
}

.why {
  grid-column: 4;
}

.con {
  grid-column: 5;
}
.cl {
  grid-column: 6;
}

/*main*/
.man {
  display: grid;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(226, 211, 206, 0) 0%,
    rgba(225, 211, 206, 0.72) 40.54%,
    #e2d3ce 100%
  );
}
.lux_packages {
  display: grid;
  width: 40%;
  height: 100%;
  grid-template-areas:
    "luxtrips luxtrips"
    "offering offering"
    "pin_4 provide"
    "pin_4 group_521";
  justify-self: center;
  grid-template-columns: 45% 45%;
  grid-template-rows: 15% 15% 50% 5%;

  background: url(/assets/gradient.svg) no-repeat;
  column-gap: 5%;
  row-gap: 2%;
}

.luxtrips {
  grid-area: luxtrips;
  place-self: center;

  max-width: 80%;
  min-height: 90%;
}

.man > .lux_packages > .luxtrips > p {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 1.8rem;
  text-align: center;

  color: #0c0b10;
}
.offering {
  grid-area: offering;
  place-self: center;

  max-width: 80%;
  max-height: 100%;
}

.man > .lux_packages > .offering > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 1.5rem;
  justify-self: center;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
  font-size: optional;
  color: #000000;
}
.group_521 {
  grid-area: group_521;
  grid-column: 2;
  grid-row: 3;
  background: no-repeat;
  align-self: flex-end;
  object-fit: contain;
}
.man > .lux_packages > .group_521 > img {
  max-width: 70%;
}

.pin_4 {
  grid-column: 1;
  grid-row: 3 / 4;
  background: no-repeat;
  object-fit: contain;
}

.man > .lux_packages > .pin_4 > img {
  max-width: 100%;
}

.provide {
  grid-area: provide;
}
.man > .lux_packages > .provide > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 0.7em;
  line-height: 179.8%;
  font-size: optional;

  color: #000000;
}

/*footer*/

.foote {
  grid-area: foote;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: url(/assets/bg_footerfootback.svg) no-repeat;
  background-size: cover;
}
.foot {
  display: grid;
  width: 100%;
  height: 100%;

  row-gap: 2.5%;
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 50% 17% auto 5%;
}
.sub {
  grid-row: 1;
  grid-column: 2;
  place-self: center;

  object-fit: cover;
}
.foote > .foot > .sub > img {
  max-width: 85%;
}
.logo2 {
  grid-row: 2;
  grid-column: 2;
  background: no-repeat;

  place-self: center;

  object-fit: contain;
}
.foote > .foot > .logo2 > img {
  max-width: 50%;
}

.call {
  grid-row: 3;
  grid-column: 2;
  align-content: center;
}
.call {
  display: grid;
  grid-template-columns: 20% 15% 30% 20% 15%;
  grid-template-rows: 1fr;
  place-items: center;
}
.call > .lux {
  grid-area: 1 / 1;
}
.call > .book {
  grid-area: 1 / 2;
}

.call > .button_call_me2 {
  grid-area: 1 / 3;
}
.foote > .foot > .call > img {
  max-width: 50%;
}
.call > .why {
  grid-area: 1 / 4;
}
.call > .con {
  grid-area: 1 / 5;
}
@media screen and (max-width: 470px) {
  .call {
    display: none;
  }
  .allres,
  .pp {
    font-size: 20%;
    line-height: 10%;
  }
  .offering {
    font-size: 50%;
    line-height: 30%;
  }
  .heder > .hed > .logo > img {
    max-width: 5%;
  }
}

.allres {
  grid-row: 4;
  grid-column: 1;
  align-self: center;
}

.pp {
  grid-row: 4;
  grid-column: 3;
  align-self: center;
}
.allres > p,
.pp > p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 50%;
  line-height: 80%;

  color: #ffffff;
}
.lux > a > p,
.book > a > p,
.why > a > p,
.con > a > p {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  font-size: 80%;
  line-height: 100%;

  color: #0c0b10;
}
